<h1>404 - Page Not Found</h1>
<link rel="stylesheet" href="/styles.css">
<p><%= message %></p>
<% if (user) { %>
  <p>Logged in as: <%= user.username %></p>
<% } else { %>
  <p><a href="/auth/login">Login</a> to continue.</p>
<% } %>